<link rel="stylesheet" href="/css/admin/form.css">

<div class="form-body">
    <h2>Editar</h2>
    <form action="/admin/editar/{{user.id}}" method="post">
        <input class="form-input" type="text" name="nome" id="nome" placeholder="Nome" value="{{user.nome}}">
        <input class="form-input" type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" value="{{user.sobrenome}}">
        <input class="form-input" type="text" name="telefone" id="telefone" placeholder="(00) 00000-0000" maxlength="15" oninput="mascaraTelefone(this)" required value="{{user.telefone}}">
        <input class="form-input" type="text" name="email" id="email" placeholder="E-mail" value="{{user.email}}">
        <input class="form-submit" type="submit" value="Atualizar">
        <input class="form-submit" onclick="location.href='/admin'" type="button" value="Voltar">
    </form>
</div>

<script src="/js/scripts.js"></script>