<link rel="stylesheet" href="/css/admin/index.css">
<p>Bem vindo de volta <strong>{{user.nome}} {{user.sobrenome}}!</strong></p>

<div>
    <div class="painel-control">
        <a href="/admin/produto/add"><img src="/img/add.png" alt=""></a>
        <div>
            <a href="/admin/logout" class="form-submit">Logout</a>
            <a href="/admin/cadastrar" class="form-submit">Add ADM</a>
            <a href="/admin/editar/{{user.id}}" class="form-submit">Editar Conta</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <td class="imagem">Foto</td>
                <td>Nome</td>
                <td>Preço</td>
            </tr>
        </thead>
        <tbody>
            {{#each produto}}
            <tr onclick="location.href='/admin/produto/editar/{{id}}'">
                <td class="imagem"><img src="/produtos/{{path_foto}}" alt=""></td>
                <td>{{nome}}</td>
                <td>{{preco}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>